@import url('reset.css');
@import url('common.css');

body {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	line-height: 1.5;
	color: #637381;
	background-color: rgba(143, 145, 143, 0.411);
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}
[class*="__container"] {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/* ========== header ========== */
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background: #FFFFFF;
	z-index: 1;
}
.header__logo,
.menu,
.menu__item,
.actions,
.actions * {
	display: inline-block;
}
.header__row * {
	vertical-align: middle;
}
.header__logo {
	margin-right: 44.61px;
}
.menu__list {
	margin-right: 70px;
}
.menu__item:not(:first-child),
.menu__item:not(:last-child) {
	margin-right: 19px;
}
.menu__item:first-child {
	margin-right: 29px;
}
.actions__item:not(:last-child) {
	margin-right: 10px;
}
.menu__item {
	padding: 30px 0;
}
.menu__link {
	font-weight: 600;
	line-height: 1.19;
	color: #212B36;
	padding: 8px;
}
.menu__link:hover {
	color: #3056D3;
}
.menu__link_categories {
	line-height: 1.5;
	padding: 8px 20.8px 8px 20.4px;
	border-radius: 5px;
	transition: 0.3s;
}
.menu__link_categories:hover,
.menu__link_products:hover {
	background: #F4F7FF;
	color: #212B36;
}
.menu__link_categories::after,
.menu__link_products::after {
	display: inline-block;
	content: "";
	height: 5.8px;
	width: 10.8px;
	background: url('../img/icons/arrow.svg') 0 0 no-repeat;
	transition: 0.3s;
	vertical-align: middle;
}
.menu__link_categories::after {
	margin-left: 13px;
}
.menu__link_products::after {
	margin-left: 7px;
}
.menu__link_categories:hover::after,
.menu__link_products:hover::after {
	transform: scale(1.2);
}
.actions__link {
	font-weight: 400;
	font-size: 11px;
	line-height: 1.5;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	padding: 5px;
	transition: 0.3s;
}
.actions__link_search:hover {
	transform: scale(1.2);
}
.actions__link_heart::after,
.actions__link_basket::after {
	position: absolute;
	right: 0;
	top: 0;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background-color: #3056D3;
	transition: 0.3s;
}
.actions__link_heart::after {
	content: "3";
}
.actions__link_basket::after {
	content: "1";
}
.actions__link_heart:hover::after,
.actions__link_basket:hover::after {
	background-color: rgb(226, 4, 122);
	transform: scale(1.1);
}
.actions__link_heart:active::after,
.actions__link_basket:active::after {
	background-color: rgb(179, 6, 98);
}
.menu__item_parent {
	position: relative;
}
.menu__sub-menu {
	position: absolute;
	left: 0;
	top: 100%;
	padding-top: 10px;
	transition: 0.3s all;
	min-width: 180px;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}
.sub-menu__list {
	position: relative;
	padding: 22px 24px;
	background: #FFFFFF;
	border: 0.5px solid #E7E7E7;
	border-radius: 5px;
}
.menu__item_parent:hover .menu__sub-menu {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
}
.sub-menu__item:not(:last-child) {
	margin-bottom: 13px;
}
.sub-menu__link:hover,
.dropdown__link:hover {
	color: #3056D3;
}
.sub-menu__list::before {
	content: "";
	position: absolute;
	left: 10px;
	top: -10px;
	border-radius: 2px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFFFFF;
}
.sub-menu__link_parent {
	padding-right: 67px;
	position: relative;
}
.sub-menu__link_parent::after {
	content: "";
	position: absolute;
	width: 5.8px;
	height: 10.8px;
	top: 5px;
	right: 0px;
	background: url('../img/icons/arrow-turn-black.svg') 0 0 no-repeat;
	transition: 0.3s;
}
.sub-menu__link_parent:hover::after {
	background: url('../img/icons/arrow-blue.svg') 0 0 no-repeat;
	transform: scale(1.2);
}
.sub-menu__dropdown {
	position: absolute;
	left: 180px;
	top: 28px;
	min-width: 665px;
	min-height: 308px;
	background: #FFFFFF;
	border: 0.5px solid #E7E7E7;
	border-radius: 5px;
	padding: 30px;
	transition: all 0.3s;
	visibility: hidden;
	opacity: 0;
}
.sub-menu__item:hover .sub-menu__dropdown {
	visibility: visible;
	opacity: 1;
}
.dropdown__list,
.dropdown__discount {
	display: inline-block;
}
.dropdown__list:nth-child(1) {
	min-width: 116px;
	margin-right: 80px;
}
.dropdown__list:nth-child(2) {
	min-width: 107px;
	margin-right: 69px;
}
.dropdown__item:not(:first-child),
.dropdown__item:not(:last-child) {
	margin-bottom: 12px;
}
.dropdown__item:first-child {
	margin-bottom: 20px;
}
.dropdown__item:last-child {
	margin-bottom: 0;
}

.dropdown__link:nth-child(1) {
	position: relative;
}
.dropdown__list .dropdown__item_title a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -7px;
	width: 0;
	border-bottom: 1px solid #637381;
}
.dropdown__list:hover .dropdown__item_title a::after {
	transition: all 0.3s;
	width: 100%;
}
.dropdown__item_title .dropdown__link {
	font-weight: 600;
	color: #212B36;
}
.dropdown__discount {
	position: relative;
	min-width: 220px;
	min-height: 248px;
}
.link-discount__background {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	border-radius: 4px;
}
.link-discount__background::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgb(205,131,90);
	background: linear-gradient(0deg, rgba(205,131,90,0.6474964985994398) 0%, rgba(205,131,90,0.65) 100%);
	border-radius: 4px;
}
.link-discount__background:hover::before {
	background: linear-gradient(0deg, rgba(189, 120, 83, 0.647) 0%, rgba(189, 120, 83, 0.647) 100%);
}
.link-discount__background:active::before {
	background: linear-gradient(0deg, rgba(192, 127, 93, 0.647) 0%, rgba(192, 127, 93, 0.647) 100%);
}
.link-discount__text-block {
	position: relative;
	margin: 30% auto;
	text-align: center;
	color: #FFFFFF;
}
.link-discount__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.2;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.22);
}
.link-discount__sub-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24);
	margin-bottom: 21px;
}
.link-discount__button  {
	display: inline-block;
	font-weight: 700;
	font-size: 11px;
	line-height: 1.18;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.14);
	padding: 6px 14px;
	background: #3056D3;
	border-radius: 2px;
}
.link-discount__button:hover {
	background: #2746aa;
}
.link-discount__button:active {
	background: #4964c0;
}

/* ========== main ========== */
.page {
	padding-top: 150px;
}
.page__blocks {
	text-align: justify;
	padding: 50px;
	background-color: whitesmoke;
}

.block-1__value,
.block-2__value,
.block-3__value,
.block-4__value,
.block-5__value,
.block-6__value,
.block-7__value,
.block-8__value {
	position: sticky;
	left: 0;
	height: 200px;
}

.block-1__value,
.block-2__value,
.block-3__value {
	top: 85px;
}
.block-1__value {
	background-color: rgb(0, 91, 187);
}
.block-2__value {
	background-color: yellow;
}
.block-3__value {
	background-color: rgb(0, 91, 187);
}

.block-4__value {
	top: 285px;
	background-color: rgb(0, 91, 187);
}

.block-5__value,
.block-6__value,
.block-7__value {
	top: 485px;
}
.block-5__value {
	background-color: yellow;
}
.block-6__value {
	background-color: rgb(0, 91, 187);
}
.block-7__value {
	background-color: yellow;
}
.block-8__value {
	top: 685px;
	background-color: yellow;
}

.block-9__value {
	position: sticky;
	width: 200px;
	height: 280px;
	top: 150px;
	left: 350px;
}
.block-9__value img {
	max-width: 200px;
}

.page__arrow {
	position: fixed;
	right: 1.5%;
	bottom: 5%;
	width: 30px;
	height: 61px;
	border-radius: 50%;
}
.arrow__up {
	position: absolute;
	left: 0;
	top: 0;
	width: 15px;
	height: 15px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid blue;
}
.arrow__down {
	position: absolute;
	left: 0;
	top: 31px;
	width: 15px;
	height: 15px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid yellow;
}
