.header__nav * {
	color: rgb(134, 63, 22);
}
a {
	color: darkolivegreen;
}
li {
	color: rgb(197, 143, 194);
}
.page__link-nav-first {
	color: aqua;
}
#title {
	color: rgb(113, 107, 119);
}
.page__main-text p {
	color: rgb(95, 86, 86);
}
span {
	color: rgba(13, 31, 196, 0.822);
}
h2 {
	color: indigo;
}
.page__ceramic-text >p {
	color: rgb(240, 160, 63);
}
.page__ceramic-text ~p {
	color: rgb(100, 185, 14);
}
.wood-text +p {
	color: rgb(216, 28, 3);
}
.stone .text {
	color: darkblue;
}
.stone-text,
.wood-text {
	color: cornflowerblue;
}
.stone-text.wood-text {
	color: chocolate;
}
p.color-text {
	color: blueviolet;
}